// ControlPanel:

.control-panel-old
    display: flex
    margin: em(16) 0
    width: 100%

    > .control
        margin-right: em(8)

        &:last-child
            margin-right: 0

    .control.button
        border: em(1) solid $cl-gray
        background-color: white
        font-weight: 600
        cursor: pointer
        height: em(40)
        outline: none
        padding: em(2) em(16)
        transition-property: background-color, color, border-color
        transition-timing-function: ease-out
        transition-duration: 200ms

        &.f-right
            margin-left: auto

        &:hover
            color: white
            background-color: $cl-primary
            border-color: $cl-primary

        &.danger:hover
            background-color: $cl-danger
            border-color: $cl-danger


// Table

.scholastic-table
    border: em(1) solid $cl-gray
    border-collapse: collapse
    width: 100%

    thead, tfoot
        background-color: darken(white, 8%)
        color: $cl-black-soft

        tr
            font-size: em(14)
            height: em(36)

            th, td
                border: em(1) solid $cl-gray

    td
        text-align: center

    tbody tr
        transition: box-shadow 200ms ease-out

        &:nth-child(even)
            background-color: darken(white, 8%)

        &:hover
            box-shadow: inset em(4) 0 $cl-primary

    &__cell
        &--actions
            display: flex
            justify-content: center

    .button__svg
            fill: $cl-gray-dark
            height: auto
            pointer-events: none
            transition: fill 150ms ease-out

    &__button
        align-items: center
        background-color: transparent
        border: none
        cursor: pointer
        display: flex
        flex: auto
        justify-content: center
        outline: none
        padding: em(4) em(12)

        &:not(:last-child)
            margin-right: em(12)

        .button__svg
            width: em(24)

        &:hover .button__svg
            &--edit
                fill: $cl-primary
            &--delete
                fill: $cl-danger

        &--delete
            flex: initial

        &--add-new
            background-color: red
            color: white

.dropdown
    display: flex
    position: relative

    &.inline
        display: inline-flex

    &__container
        background-color: white
        border-radius: em(4)
        bottom: 0
        box-shadow: 0 em(4) em(8) rgba(0, 0, 0, .25)
        left: 0
        padding: em(16)
        position: absolute
        transform: translateY(100%)
