@import "helpers/variables"
@import "helpers/functions"

.spinner-wrapper
    display: flex
    justify-content: center
    margin: em(48) 0
    width: 100%

@import "blocks/index"

@import "components/main"
@import "components/home"
@import "components/footer"
@import "components/modal-dialog-system"
// @import "page/scholastic"
