.button
  outline: none
  background-color: $cl-primary
  line-height: 1
  cursor: pointer
  font-size: em(16)
  color: white
  border: none
  padding: em(14) em(48)

  &_rounded
    border-radius: em(32)