.card
  background-color: white
  box-shadow: 0 em(10) em(24) fade-out(black, .8)
  cursor: grab
  position: relative

  &_prerendered
    opacity: .4

  &__image
    background-color: $cl-gray
    background-repeat: no-repeat
    background-size: cover
    height: em(144)

  &__number
    background-color: white
    border-radius: em(16)
    color: black
    font-size: em(15)
    line-height: 1
    padding: em(2) em(16)
    position: absolute
    right: em(16)
    top: em(16)

  &__data
    padding: em(20) em(24) em(14)

  &__heading
    font-size: em(15)
    font-weight: 600

    &_prerendered
      background-color: $cl-gray
      height: 1em

  &__date
    color: $cl-gray-dark
    display: inline-block
    font-size: em(12)

    &_prerendered
      background-color: $cl-gray
      height: 1em
      width: 40%

  &__controls
    display: flex
    justify-content: space-between
    margin-top: em(24)
